# LangChain
langchain
langchain-core
langchain-community
langgraph
#Tavily
tavily-python

#rich
rich
# Mistral
langchain-mistralai
mistralai

# OpenAI (DALL·E)
langchain-openai
openai

# Web Scraping
beautifulsoup4
requests
lxml

# Environment Variables
python-dotenv

# Validation
pydantic

# HTTP Client
httpx

# Logging (optional but recommended)
loguru

# Retry mechanism
tenacity